{% extends 'base.html' %}
{% block main_content %}
<form method="post" action="/">
    {% if desc_id == 1 %}
        <input class="btn btn-light" type="submit" name="sort_value" value="Sortuj po id malejąco">
    {% else %}
        <input class="btn btn-light" type="submit" name="sort_value" value="Sortuj po id rosnąco">
    {%  endif %}

    {% if desc_rating == 1 %}
        <input class="btn btn-light" type="submit" name="sort_value" value="Sortuj po ocenie malejąco">
    {% else %}
        <input class="btn btn-light" type="submit" name="sort_value" value="Sortuj po ocenie rosnąco">
    {%  endif %}

</form>

<!--tekst-->
{% for data in teksty %}

<div id = "tekst">

    {% if data.rating > 50 %}
        <h4 style='color:green;  float: left; margin-right:50px'>Tekst nr {{ data.id }}
         {% if data.id >= 50 %}
            Nie
         {% endif %}
         Na Temat
        </h4><h4 style="margin-left: 300px"> Podobieństwo: {{ data.rating|safe }}%</h4>
    {% elif data.rating == 50 %}
        <h4 style='color:yellow;  float: left; margin-right:50px'>Tekst nr {{ data.id }}
        {% if data.id >= 50 %}
            Nie
         {% endif %}
         Na Temat
        </h4><h4 style="margin-left: 300px"> Podobieństwo: {{ data.rating|safe }}%</h4>
    {% else %}
        <h4 style='color:red; float: left; margin-right:50px'>Tekst nr {{ data.id }}
        {% if data.id  >= 50 %}
            Nie
         {% endif %}
         Na Temat
        </h4> <h4 style="margin-left: 300px"> Podobieństwo: {{ data.rating|safe }}%</h4>
    {% endif%}

    <table border cellpadding=5 frame=void RULES=groups>
        <COLGROUP SPAN=1 ALIGN=left>
        <tbody>
        {% for wiersz in data.list %}
        <tr>
            {% for slowo in wiersz %}
            <td>{{ slowo|safe }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </br>

    <p>{{ data.text|safe }}</p>


    <hr>
</div>
{% endfor %}
{% endblock %}